.hero__block {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url(../img/hero/header_img_s@1x.jpg);
    
      
      /* 2x screens, retina,*/
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), url(../img/hero/header_img_s@2x.jpg);
    }

    @media screen and (min-width: 481px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url(../img/hero/header_img_m@1x.jpg);
    
      
      /* 2x screens, retina,*/
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), url(../img/hero/header_img_m@2x.jpg);
    }
    }
    @media screen and (min-width: 1201px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url(../img/hero/Img_l@1x.jpg);
    
      
      /* 2x screens, retina,*/
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), url(../img/hero/Img_l@2x.jpg);
    }
    }

    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
        }
}

.hero__text {
    text-align: center;
}

.hero__title {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
    max-width: 360px;

    text-transform: uppercase;
    font-family: var(--general-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--text-color-general);

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        max-width: 696px;
        }
}

.hero__bt {
    align-items: center;
    min-width: 216px;
    padding: 10px 24px;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background-color: var(--hover-color);
    font-family: var(--general-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--text-color-general);
    cursor: pointer;

    @media screen and (min-width: $desktop) {
        padding: 10px 32px;
        }

    transition: var(--animation);

        
        &:hover,
        &:focus {
        background-color: var(--active-botton);
    }
}
